body {
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    background-color: #000;
    font-family: sans-serif;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #333;
    position: fixed;
    top: 0px;
    transition: translate .2s linear;
}

#Home {
    height: 100vh;
    background-color: red;
}

#Skills {
    height: 100vh;
    background-color: green;
}

#Projects {
    height: 100vh;
    background-color: blue;
}

.scrolled {
    translate: 0px -50px;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    opacity: 0.75;
    transition: opacity .1s linear;
}

nav a:hover {
    opacity: 1;
}