body {
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    background-color: #000;
    font-family: sans-serif;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #333;
    position: fixed;
    top: 0px;
    transition: translate .2s linear;
}

.hide {
    translate: 0px -50px;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    opacity: 0.75;
    transition: opacity .1s linear;
}

nav a:hover {
    opacity: 1;
}

#Home {
    height: 100vh;
    background-color: #222;
}

#Home h1 {
    padding-top: 40vh;
    padding-left: 8%;
    margin: 0;
    color: #eee;
}

p {
    padding-left: 8%;
    margin: 0;
    color: #eee;
}

#Skills {
    height: 100vh;
    background-color: #222;
}

#Skills h2 {
    padding-top: 10vh;
    margin: 0;
    text-align: center;
    color: #eee;
}

#Skills h3 {
    padding-top: 5vh;
    padding-bottom: 1vh;
    padding-left: 8%;
    color: #eee;
}

#Projects {
    height: 100vh;
    background-color: #222;
}

#Projects h2 {
    padding-top: 10vh;
    margin: 0;
    text-align: center;
    color: #eee;
}

#footer {
    height: 3em;
    background-color: #111;
}

#footer p {
    padding-top: 1em;
}